<center>
	<h1>Bonjour ! </h1>
	<p>
	<%= image_tag('dino.gif', alt:"gif", title:"bravo") %></p>

<p>Aujourd’hui le développement de vos publics et de votre notoriété passe nécessairement par un accroissement de votre visibilité sur Internet. <br>

Avec des budgets de plus en plus limités, confier vos ressources à des prestataires extérieurs est compliqué et peut vous exposer à des difficultés. <br>

C’est pourquoi nous  proposons à vous et vos collaborateurs une formation intensive de 3 mois qui permet d’acquérir les compétences nécessaires au développement d’applications web pour développer ton projet. Et en plus , c’est gratuit ! <br>

Nous travaillons avec les technologies qui ont permis d’élaborer des sites à renommée internationale comme AirBnB. <br>

Si vous désirez plus d’informations, <a href="https://thp-growth-hack.herokuapp.com/pages/hometree">cliquez ici.</a><br>
Belle journée !

	</p>
</center>
