<section class="wrapper">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3 sqr sqr-logo">
        <%= image_tag("logo-10.png", alt: "Logo THP", class:"logo") %>
      </div>
      <div class="col-md-3 sqr sqr-bg"></div>
      <div class="col-md-3 sqr sqr-bg"></div>
      <div class="col-md-3 sqr sqr-vert-fonce">
        <p>
          <span class="vert">.btn-primary</span> <span class="bleu">{</span> <br>
            <span class="bleu"> font-family:</span> <span class="jaune">'Josefin Sans'</span> <span class="bleu">;</span> <br>
            <span class="bleu"> padding:</span> <span class="violet">14</span><span class="rose">px</span> <span class="violet">16</span><span class="rose">px</span><span class="bleu">;</span> <br>
            <span class="bleu"> border-radius:</span> <span class="violet">3</span><span class="rose">px</span> <span class="bleu">;</span> <br>
            <span class="bleu"> border:</span> <span class="violet">1</span><span class="rose">px</span> <span class="bleu">solid transparent;</span> <br>
            <span class="bleu"> display: inline-block;</span> <br>
            <span class="bleu">}</span>
            <center><span class="blanc">Des hiéroglyphes ?</span></center>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 sqr"></div>
      <div class="col-md-3 sqr sqr-text">
        <p>Notre cursus <br> en détails ?</p>
      </div>
      <div class="col-md-3 sqr"></div>
      <div class="col-md-3 sqr"></div>
    </div>
    <div class="row">
      <div class="col-md-3 sqr sqr-vert-fonce">
        <p>11 semaines <br> de manière intensive. <br><br> C'est gratuit. <br> <br> Et ça se présente <br> de cette <a href="">manière</a>.</p>
      </div>
      <div class="col-md-3 sqr"></div>
      <div class="col-md-3 sqr sqr-text">
        <p>Tu veux <br>recevoir <br> la newsletter ?</p>
      </div>
      <div class="col-md-3 sqr"></div>
    </div>
  </div>
</section>
