<center>
  <%= image_tag("logo-10.png", alt: "Logo THP noir et vert", title:"Logo The Hacking Project") %>

  <h1>The Hacking Project: La Newsletter.</h1>
  <p>La newsletter vient d'être envoyée.</p>

</center>
