<center>
	<h1>Hello ! </h1>
	<p>
	<%= image_tag("hello.gif", alt: "gif", title:"bravo") %>
	Aujourd’hui tu sors de tes études et tu te poses des questions légitimes sur ton avenir pro, à savoir : <br>

	- Dois je gagner au loto ?<br>
	- Dois-je hériter ?<br>
	- La sauce samouraï est elle autre chose que de la mayo à l’harissa ?<br>
	- Comment devenir un entrepreneur à succès ?<br>
	<br>
	En tout cas de notre côté, nous te proposons une formations intensive de 3 mois qui te permettra d’avoir les bases du développement d’applications web pour développer ton projet. Et en plus , c’est gratuit et à Poitiers !
	<br>
	Si toi aussi tu veux acquérir les méthodes et les technologies qui ont permis de réaliser Airbnb , jette un oeil par ici.
	<br>
	Pour les autres questions, par contre, on te laisse réfléchir.
	Belle journée !

	<a href="https://thp-growth-hack.herokuapp.com/">En attendant nous visiter ici.</a>
	</p>
</center>