<center>
	<h1>BRAVO ! </h1>
	<p>
	Tu es bien inscrit à la newsletter :)
	<%= image_tag("giphy.gif", alt: "gif", title:"bravo") %>
	<a href="https://www.thehackingproject.org/">En attendant tu peux visiter le site officiel de THP avant la prochaine newsletter.</a>
	Belle journée !
	</p>
</center>