<center>
  <%= image_tag("https://pp.userapi.com/c847219/v847219673/c1f28/T1ii2gntTdY.jpg", alt: "Logo THP noir et vert", title:"Logo The Hacking Project", size:15*15) %>
  <h1>The Hacking Project: La Newsletter.</h1>
  <p>Cette semaine sur THP :</p>
  <%= image_tag("https://vk.com/doc75063260_472741548?hash=98df1ad8418d3c5660&dl=34ce4c0aba6a5a665d", alt: "gif", title:"bravo") %>
  <p>Voici ce que nos corsaires ont fait cette semaine!<br>
  Retrouve aussi les photos de nos moussaillons à la BNF! Fous rires garantis !</p>
</center>
