// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: no-repeat center/100% url(/assets/bg1.jpg);
  background-color: black !important;
  zoom: 1;
  height: 100vh;
  width: 100vw;
  padding: 50px;
}
.wrapper {

// la base des differents square
    .sqr {
      height: 200px;
      width: 200;
      padding: 20px;
      font-family: 'Inconsolata', monospace;
      border-radius: 1px;
    }
    .sqr-vert-fonce {
      background-color: #1a2625;
      font-size: 14px;
      color: white;
    }
    .sqr-white {
      background-color: white;
    }
// pour la case numero un du logo 
    h1 {
    font-size: 15px;
    }
    .logoenh1 {
    color: black;
    text-decoration: none;
    }
    .logoenh1:hover {
    opacity: 0.8;
    }
    .logo:hover {
    transform: scale(1.1);
    }
    .linkthp {
      text-decoration: none;
    }
    .linkthp:hover {
    opacity: 0.8;
    }
    .row-logo-name {
      display: flex;
      align-items: center;
    }
    .logo-rs {
      list-style: none;
      padding-left: 0px;
    }
    .logo-rs > li {
      display: inline-block;
    }
    .fab {
      color: black;
    }
    .fas {
      color: black;
    }
    .fab:hover {
      opacity: 0.8;
    }
    .fas:hover {
      opacity: 0.8;
    }
    /* Outline Out effet de ouffffff sur le mot hieroglyphes*/
    .hvr-outline-out {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
    }
    .hvr-outline-out:before {
      content: '';
      position: absolute;
      border: #e1e1e1 solid 1px;
      top: 2px;
      right: -4px;
      bottom: 0;
      left: -4px;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: top, right, bottom, left;
      transition-property: top, right, bottom, left;
    }
    .hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
      top: -8px;
      right: -8px;
      bottom: -8px;
      left: -8px;
    }
    /* Wobble Skew effet de ouffffff sur les trucs de code */
    @-webkit-keyframes hvr-wobble-skew {
      16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
      }
      33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
      }
      49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
      }
      66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
      }
      83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
      }
      100% {
        -webkit-transform: skew(0);
        transform: skew(0);
      }
    }
    @keyframes hvr-wobble-skew {
      16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
      }
      33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
      }
      49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
      }
      66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
      }
      83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
      }
      100% {
        -webkit-transform: skew(0);
        transform: skew(0);
      }
    }
    .hvr-wobble-skew {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
    .hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
      -webkit-animation-name: hvr-wobble-skew;
      animation-name: hvr-wobble-skew;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }
    /* Wobble Skew effet de ouffffff sur les trucs de code */
    .hvr-grow {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s;
        transition-property: transform;
    }
    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
        transform: scale(1.1);
    }
// typos de ouff pour le code hyeroglyphes
    .vert {
      color: #2cff54;
    }
    .bleu {
      color: #0dffe2;
    }
    .jaune {
      color: #e0ff00;
    }
    .violet {
      color: #a01fea;
    }
    .rose {
      color: #f216af;
    }
    .blanc {
      color: white;
    }
}
// tous les trucs pour le form d'inscription newsletter
#mc_embed_signup {
  background:#fff; clear:left 
}
#mc_embed_signup form {
padding-left: 0px;
padding-top: 0px;
}
#mc_embed_signup .button {
  border-radius: 1px;
  background-color: #1a2625;
}
#mc_embed_signup .mc-field-group input {
  text-indent: 8%;
  border-radius: 1px;
}
#mc-field-group:focus {
    outline-color: none;
    outline-style: none;
    outline-width: none;
    outline: none;
}
#required-email:focus {
    outline-color: none;
    outline-style: none;
    outline-width: none;
    outline: none;
}
#mce-EMAIL:focus {
    outline-color: none;
    outline-style: none;
    outline-width: none;
    outline: none;
}
#mc-embedded-subscribe:focus {
    outline: none;
    outline-color: none;
    outline-style: none;
    outline-width: none;
}